.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding-top: 60px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  justify-content: space-between;
  gap: 3%;
  width: 80%;
}
.leftContainer{
  width: 30%;
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 16px;
  height: 344px;
}
.rightContainer{
  width: 68%;
  /* border: 1px solid white; */
  padding: 16px;
  border-radius: 5px;
}